input {
  outline: none;
  margin-top: 0.8em;
  margin-bottom: .25em;
  font-size: 1.5em;
  padding: 1%;
  border: none;
  background-color: transparent;
  color: #A8826F;
  border-bottom: 2px solid #A8826F;
  border-left: 2px solid #A8826F;
  width: 40%;
}
input:focus {
  outline: none;
  border: 2px solid #A8826F;
}
.guestFormWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65%;
  align-items: center;
}
.formWrapper {
  transition: all .5s ease-Out;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  border-right: 3px solid #A8826F;
}
.guestListWrap {
  transition: all .5s ease-Out;
  background-color: rgba(168, 130, 111, .2);
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#guestListTitle {
  background-color: #A8826F;
  width: 110%;
  display: flex;
  flex-direction: column-reverse;
}
.emptyList{
  width: 90%;
  padding-bottom: 25px;
}
.instructionWrap {
  display: flex;
  width: 90%;
  flex-direction: column;
}
.clearButton {
  margin-top: -5px;
  margin-right: 1px;
  font-family: 'Roboto', sans-serif;
  height: 23px;
  width: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #A8826F;
  color: #f5f5f5;
  font-size: 1em;
  cursor: pointer;
  border: 2px solid #A8826F;
}
.buttonWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.clearButton:hover {
  background-color: #f5f5f5;
  color: #A8826F;
  border: 2px solid #A8826F;
}
.inputWrap {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  width: 53%;
  text-align-last: center;
}
#GLTitle {
  transition: all .5s ease-Out;
  font-size: 3vw;
  padding-top: 0%;
}
#GLInfo {
  transition: all .5s ease-Out;
  font-size: 1.5vw;
  padding: 2% 10%;
  text-align: left;
  padding-top: 0%
}
#GLInput {
  transition: all .5s ease-Out;
  width: 50%;
}
@media screen and (max-width: 1000px) {
  .guestListWrap {
    height: 91vh;
  }
  #GLTitle {
    font-size: 5vw;
  }
  #GLInfo {
    font-size: 2vw;
  }
}
@media screen and (max-width: 750px) {
  .guestListWrap {
    height: auto;
    width: 100%;
  }
  .formWrapper {
    width: 100%;
    border-right: none;
    height: 75%;
  }
  #GLTitle {
    font-size: 8vw;
    padding: 1% 10%;
  }
  #GLInfo {
    font-size: 3vw;
  }

}
