.weddingTitle {
  color: #221e22;
  opacity: 80%;
  font-family: 'Playfair Display', serif;
  text-align: center;
  flex-shrink: 3;
  font-size: 2rem;
  font-weight: 600;
  padding: 3%;
}
.weddingDate {
  color: #221e22;
  opacity: 80%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 2%;
}
.couplePhotoWrap {
  display: grid;
  border-top: 3px solid #A8826F;
  align-content: center;
  width: 100%;
  height: 40em;
  overflow: hidden;
}
.couplePhoto {
  width: 100%;
  height: 40em;
  object-fit: cover;
  opacity: 70%;
}
.couplePhoto:hover{
  opacity:100%;
}
