.weddingFormWrapper {
  transition: all .5s ease-Out;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}
#weddingFormInput {
  transition: all .5s ease-Out;
}
#weddingFormTitle {
  transition: all .5s ease-Out;
  font-size: 4vw;
}
@media screen and (max-width: 1000px) {
  #weddingFormTitle {
    font-size: 5vw;
  }
  #weddingFormInput {
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  .weddingFormWrapper {
    padding-top: 10%;
  }
  #weddingFormTitle {
    font-size: 5vw;
  }
  #weddingFormInput {
    width: 50%;
  }
}
@media screen and (max-width: 550px) {
  .weddingFormWrapper {
    padding-top: 15%;
  }
  #weddingFormTitle {
    font-size: 10vw;
  }
  #weddingFormInput {
    width: 75%;
    padding-bottom: 4%;
  }
}
