.checkboxSection {
  margin: 2em;
  width: 75%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  height: 45%;
  overflow: scroll;
}
.sectionHeader {
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
  width: 100%;
  margin-bottom: 1%;
}
.checkbox {
  width: auto;
  margin: 1%;
}
