.checkboxContainer {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  width: 30%;
  display: flex;
  padding: 1%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #a8826f;
}

.checkboxLabel {
  margin-left: 5%;
}
/* .checkboxLabel {

} */

/* .checkbox {
  padding-top: 5px;
} */


/* change width of label and checkbox 50:50 */
